@font-face{
    font-family: VCR;
    src: url(VCR_OSD_MONO_1.001.ttf) format('truetype');
}

@font-face{
    font-family: streamster;
    src: url(Streamster.ttf) format('truetype');
}

:root{ font-size: 16px; }

html, body{
    text-align: center;
    scroll-behavior: smooth;
    height: auto;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}
/*
    position: sticky;
    overflow: hidden;
    background-color: #2A1B3D;
    border-bottom: 2px #D82F87 solid;
    top: 0;
    list-style: none;     
    float: right;
    display: none;
    color: #D82F87;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.2em;
*/

.quote{
    color:#EBF69C;
    text-shadow: 3px 3px 2px black;
}

header{
    padding: 2.5%;
    background: url(sunset.jpg) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

h1{ 
    color: #D82F87;
    font-size: 6rem;
    font-family: streamster;
    margin-top: 1em;
    text-shadow: 3px 3px 2px black;
    filter: drop-shadow(13px 13px 12px black);
    z-index: 1;
}
main{
    padding: 1rem;
    background-image: linear-gradient(rgba(23, 2, 38, 1), rgba(42, 27, 67, 1)); 
}

.info{
    width: 95%;
    color: #A4B3B6;
    text-align: left;
    padding: 1em;
    padding-top: 2em;
}

#social{
    text-align: center;
    margin-top: 0px;
    padding: 1%;
}


footer{ color: white; }

footer p{
    font-size: 1em;
    margin-top: 1%;
    margin-bottom: 1%;
}

footer a:hover{ filter: invert(1); }

/* Scroll bar settings */
::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(42, 27, 67, 1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(23, 2, 38, 1);
}
